@import "tailwindcss";

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

@theme {
  --color-content-base-primary: var(--color-gray-250);

  --font-inter: var(--font-inter);

  --color-ui-base-active:var(--color-neutral-6);
  --color-ui-base-default:var(--color-neutral-4);
  --color-ui-base-hover:var(--color-neutral-5);
  --color-ui-brand-accent-active:var(--color-brand-accent-6);
  --color-ui-brand-accent-default:var(--color-brand-accent-4);
  --color-ui-brand-accent-hover:var(--color-brand-accent-5);
  --color-ui-brand-primary-active:var(--color-brand-primary-6);
  --color-ui-brand-primary-default:var(--color-brand-primary-4);
  --color-ui-brand-primary-hover:var(--color-brand-primary-5);

  --color-content-base-alfa-static-white-48:var(--color-neutral-alfa-8);
  --color-content-base-clean:var(--color-neutral-clean-white);
  --color-content-base-inverted:var(--color-neutral-clean-black);
  --color-content-base-primary:var(--color-neutral-14);
  --color-content-base-secondary:var(--color-neutral-13);
  --color-content-base-tertiary:var(--color-neutral-12);
  --color-content-brand-accent-primary:var(--color-brand-accent-14);
  --color-content-brand-accent-secondary:var(--color-brand-accent-13);
  --color-content-brand-accent-tertiary:var(--color-brand-accent-12);
  --color-content-brand-primary:var(--color-brand-primary-14);
  --color-content-brand-secondary:var(--color-brand-primary-13);
  --color-content-brand-tertiary:var(--color-brand-primary-12);

  --color-border-base-alfa-container:var(--color-neutral-alfa-tonal-2);
  --color-border-base-alfa-divider:var(--color-neutral-alfa-tonal-2);
  --color-border-base-default:var(--color-neutral-8);
  --color-border-base-on-bg-primary:var(--color-background-base-primary);
  --color-border-base-on-bg-secondary:var(--color-background-base-secondary);
  --color-border-base-on-bg-tertiary:var(--color-background-base-tertiary);
  --color-border-base-subtle:var(--color-neutral-7);
  --color-border-brand-accent-default:var(--color-brand-accent-8);
  --color-border-brand-accent-subtle:var(--color-brand-accent-7);
  --color-border-brand-primary-default:var(--color-brand-primary-8);
  --color-border-brand-primary-subtle:var(--color-brand-primary-7);

  --color-background-base-alfa-neutral-12:var(--color-neutral-alfa-tonal-2);
  --color-background-base-alfa-neutral-16:var(--color-neutral-alfa-tonal-3);
  --color-background-base-alfa-neutral-20:var(--color-neutral-alfa-tonal-4);
  --color-background-base-alfa-neutral-32:var(--color-neutral-alfa-tonal-6);
  --color-background-base-alfa-neutral-48:var(--color-neutral-alfa-tonal-8);
  --color-background-base-alfa-neutral-8:var(--color-neutral-alfa-tonal-1);
  --color-background-base-alfa-neutral-88:var(--color-neutral-alfa-tonal-13);
  --color-background-base-alfa-primary:var(--color-neutral-alfa-13);
  --color-background-base-alfa-secondary:var(--color-neutral-alfa-6);
  --color-background-base-alfa-subtle:var(--color-neutral-alfa-4);
  --color-background-base-alfa-tertiary:var(--color-neutral-alfa-5);
  --color-background-base-alt-primary:var(--color-neutral-1);
  --color-background-base-alt-secondary:var(--color-neutral-2);
  --color-background-base-elevated:var(--color-neutral-clean-black);
  --color-background-base-inverted:var(--color-neutral-clean-white);
  --color-background-base-primary:var(--color-neutral-1);
  --color-background-base-secondary:var(--color-neutral-2);
  --color-background-base-tertiary:var(--color-neutral-3);
  --color-background-brand-accent-primary:var(--color-brand-accent-1);
  --color-background-brand-accent-secondary:var(--color-brand-accent-2);
  --color-background-brand-accent-tertiary:var(--color-brand-accent-3);
  --color-background-brand-primary:var(--color-brand-primary-1);
  --color-background-brand-secondary:var(--color-brand-primary-2);
  --color-background-brand-tertiary:var(--color-brand-primary-3);

  --box-shadow-none:  none;
  --box-shadow-xs:  0px 1px 1px 0px rgba(0, 0, 0, 0.05)
  --box-shadow-s: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
  --box-shadow-m: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
  --box-shadow-l: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
  --box-shadow-xl:  0px 4px 8px 0px rgba(0, 0, 0, 0.24), 0px 0px 20px 0px rgba(0, 0, 0, 0.50);

  --color-brand-primary-alfa-12: rgba(0, 117, 255, 0.12);
  --color-brand-primary-alfa-68: rgba(0, 117, 255, 0.68);
  --color-brand-primary-1: #0b0a17;
  --color-brand-primary-10: #1381ff;
  --color-brand-primary-11: #3fa2ff;
  --color-brand-primary-12: #5eb6ff;
  --color-brand-primary-13: #7ec8ff;
  --color-brand-primary-14: #9dd8ff;
  --color-brand-primary-2: #10102d;
  --color-brand-primary-3: #141744;
  --color-brand-primary-4: #161f5e;
  --color-brand-primary-5: #16297a;
  --color-brand-primary-6: #143698;
  --color-brand-primary-7: #0f46b8;
  --color-brand-primary-8: #095bdb;
  --color-brand-primary-9: #0075ff;

  --color-brand-accent-14: #9fe2bb;
  --color-brand-accent-13: #7fd8a5;
  --color-brand-accent-12: #5bcd8b;
  --color-brand-accent-11: #3dc476;
  --color-brand-accent-10: #00d95b;
  --color-brand-accent-9: #00b24b;
  --color-brand-accent-8: #00a144;
  --color-brand-accent-7: #008a3a;
  --color-brand-accent-6: #007933;
  --color-brand-accent-5: #00632a;
  --color-brand-accent-4: #005223;
  --color-brand-accent-3: #003c19;
  --color-brand-accent-2: #002b12;
  --color-brand-accent-1: #001509;

  --color-neutral-clean-black: #000000;
  --color-neutral-clean-none: rgba(0, 0, 0, 0);
  --color-neutral-clean-white: #ffffff;
  --color-neutral-1: #141415;
  --color-neutral-10: #9ea2ab;
  --color-neutral-11: #b3b6bd;
  --color-neutral-12: #797f8b;
  --color-neutral-13: #9aa1b1;
  --color-neutral-14: #f0f2f5;
  --color-neutral-2: #1d1e20;
  --color-neutral-3: #2e3035;
  --color-neutral-4: #3b3d43;
  --color-neutral-5: #44474e;
  --color-neutral-6: #4f525a;
  --color-neutral-7: #62666f;
  --color-neutral-8: #757a85;
  --color-neutral-9: #898e98;
  --color-neutral-alfa-1: rgba(255, 255, 255, 0.08);
  --color-neutral-alfa-10: rgba(255, 255, 255, 0.64);
  --color-neutral-alfa-11: rgba(255, 255, 255, 0.72);
  --color-neutral-alfa-12: rgba(255, 255, 255, 0.8);
  --color-neutral-alfa-13: rgba(255, 255, 255, 0.88);
  --color-neutral-alfa-14: rgba(255, 255, 255, 0.96);
  --color-neutral-alfa-2: rgba(255, 255, 255, 0.12);
  --color-neutral-alfa-3: rgba(255, 255, 255, 0.16);
  --color-neutral-alfa-4: rgba(255, 255, 255, 0.2);
  --color-neutral-alfa-5: rgba(255, 255, 255, 0.24);
  --color-neutral-alfa-6: rgba(255, 255, 255, 0.32);
  --color-neutral-alfa-7: rgba(255, 255, 255, 0.4);
  --color-neutral-alfa-8: rgba(255, 255, 255, 0.48);
  --color-neutral-alfa-9: rgba(255, 255, 255, 0.56);
  --color-neutral-alfa-tonal-1: rgba(179, 182, 189, 0.08);
  --color-neutral-alfa-tonal-10: rgba(179, 182, 189, 0.64);
  --color-neutral-alfa-tonal-11: rgba(179, 182, 189, 0.72);
  --color-neutral-alfa-tonal-12: rgba(179, 182, 189, 0.8);
  --color-neutral-alfa-tonal-13: rgba(179, 182, 189, 0.88);
  --color-neutral-alfa-tonal-14: rgba(179, 182, 189, 0.96);
  --color-neutral-alfa-tonal-2: rgba(179, 182, 189, 0.12);
  --color-neutral-alfa-tonal-3: rgba(179, 182, 189, 0.16);
  --color-neutral-alfa-tonal-4: rgba(179, 182, 189, 0.2);
  --color-neutral-alfa-tonal-5: rgba(179, 182, 189, 0.24);
  --color-neutral-alfa-tonal-6: rgba(179, 182, 189, 0.32);
  --color-neutral-alfa-tonal-7: rgba(179, 182, 189, 0.4);
  --color-neutral-alfa-tonal-8: rgba(179, 182, 189, 0.48);
  --color-neutral-alfa-tonal-9: rgba(179, 182, 189, 0.56);

  --color-blue-100: #a5b6fe;
  --color-blue-200: #7f97fe;
  --color-blue-300: #5878fe;
  --color-blue-400: #3259fe;
  --color-blue-50: #cbd5fe;
  --color-blue-500: #0030fe;
  --color-blue-600: #0029d9;
  --color-blue-700: #0022b2;
  --color-blue-800: #001b8c;
  --color-blue-900: #001466;
  --color-blue-950: #000c40;
  --color-blue-cyan-100: #99c8ff;
  --color-blue-cyan-200: #73b3ff;
  --color-blue-cyan-300: #4d9fff;
  --color-blue-cyan-400: #268aff;
  --color-blue-cyan-450: #1381ff;
  --color-blue-cyan-50: #bfddff;
  --color-blue-cyan-500: #0075ff;
  --color-blue-cyan-550: #006eec;
  --color-blue-cyan-600: #0064d9;
  --color-blue-cyan-700: #0052b3;
  --color-blue-cyan-800: #00408c;
  --color-blue-cyan-900: #002f66;
  --color-blue-cyan-950: #001d40;
  --color-citron-100: #fffca6;
  --color-citron-200: #fffb80;
  --color-citron-300: #fffa59;
  --color-citron-400: #fff833;
  --color-citron-50: #fffdbf;
  --color-citron-500: #fff500;
  --color-citron-600: #d9d200;
  --color-citron-700: #b2ad00;
  --color-citron-800: #8c8800;
  --color-citron-900: #666300;
  --color-citron-950: #403e00;
  --color-citron-lime-100: #eaff99;
  --color-citron-lime-200: #e3ff73;
  --color-citron-lime-300: #dbff4d;
  --color-citron-lime-400: #d3ff26;
  --color-citron-lime-50: #f2ffbf;
  --color-citron-lime-500: #cbff00;
  --color-citron-lime-600: #add900;
  --color-citron-lime-700: #8eb200;
  --color-citron-lime-800: #708c00;
  --color-citron-lime-900: #526600;
  --color-citron-lime-950: #334000;
  --color-citron-yellow-100: #ffe799;
  --color-citron-yellow-200: #ffde73;
  --color-citron-yellow-300: #ffd54d;
  --color-citron-yellow-400: #ffcc26;
  --color-citron-yellow-50: #fff0bf;
  --color-citron-yellow-500: #ffc300;
  --color-citron-yellow-600: #d9a600;
  --color-citron-yellow-700: #b38800;
  --color-citron-yellow-800: #8c6b00;
  --color-citron-yellow-900: #664e00;
  --color-citron-yellow-950: #403100;
  --color-cyan-100: #99daff;
  --color-cyan-200: #73ccff;
  --color-cyan-300: #4dbeff;
  --color-cyan-400: #26b0ff;
  --color-cyan-50: #bfe8ff;
  --color-cyan-500: #00a1ff;
  --color-cyan-600: #0089d9;
  --color-cyan-700: #0071b2;
  --color-cyan-800: #00598c;
  --color-cyan-900: #004166;
  --color-cyan-950: #002840;
  --color-gray-100: #d7dbe2;
  --color-gray-150: #bcc2cf;
  --color-gray-200: #a3abbb;
  --color-gray-225: #9aa1b1;
  --color-gray-250: #9299a8;
  --color-gray-300: #818794;
  --color-gray-325: #797f8b;
  --color-gray-350: #6f7480;
  --color-gray-400: #53575f;
  --color-gray-450: #474b52;
  --color-gray-50: #f0f2f5;
  --color-gray-500: #3a3d43;
  --color-gray-600: #2e3035;
  --color-gray-700: #242528;
  --color-gray-800: #1d1e20;
  --color-gray-900: #141415;
  --color-green-lime-100: #d7ff99;
  --color-green-lime-200: #c7ff73;
  --color-green-lime-300: #b8ff4d;
  --color-green-lime-400: #a9ff26;
  --color-green-lime-50: #e6ffbf;
  --color-green-lime-500: #9aff00;
  --color-green-lime-600: #83d900;
  --color-green-lime-700: #6cb200;
  --color-green-lime-800: #558c00;
  --color-green-lime-900: #3e6600;
  --color-green-lime-950: #274000;
  --color-lime-100: #c0ff99;
  --color-lime-200: #a9ff73;
  --color-lime-300: #91ff4d;
  --color-lime-400: #79ff26;
  --color-lime-50: #d8ffbf;
  --color-lime-500: #62ff00;
  --color-lime-600: #53d900;
  --color-lime-700: #44b200;
  --color-lime-800: #368c00;
  --color-lime-900: #276600;
  --color-lime-950: #1d4d00;
  --color-mint-100: #99ffc4;
  --color-mint-200: #73ffae;
  --color-mint-300: #4dff97;
  --color-mint-400: #26ff81;
  --color-mint-50: #bfffda;
  --color-mint-500: #00ff6b;
  --color-mint-600: #00d95b;
  --color-mint-650: #00c654;
  --color-mint-700: #00b24b;
  --color-mint-750: #009f42;
  --color-mint-775: #00963e;
  --color-mint-800: #008c3b;
  --color-mint-825: #008337;
  --color-mint-875: #007330;
  --color-mint-900: #00662b;
  --color-mint-950: #00401b;
  --color-orange-100: #ffb399;
  --color-orange-200: #ff9673;
  --color-orange-300: #ff7a4d;
  --color-orange-400: #ff5d26;
  --color-orange-50: #ffcfbf;
  --color-orange-500: #ff4000;
  --color-orange-525: #f63d00;
  --color-orange-600: #d93600;
  --color-orange-700: #b22d00;
  --color-orange-800: #8c2300;
  --color-orange-900: #661900;
  --color-orange-950: #401000;
  --color-orange-amber-100: #ffc399;
  --color-orange-amber-200: #ffad73;
  --color-orange-amber-300: #ff974d;
  --color-orange-amber-400: #ff8126;
  --color-orange-amber-50: #ffdabf;
  --color-orange-amber-500: #ff6b01;
  --color-orange-amber-600: #d95a00;
  --color-orange-amber-700: #b24a00;
  --color-orange-amber-800: #8c3a00;
  --color-orange-amber-900: #662a00;
  --color-orange-amber-950: #401b00;
  --color-pink-100: #ff99ef;
  --color-pink-200: #ff73e8;
  --color-pink-300: #ff4de2;
  --color-pink-400: #ff26dc;
  --color-pink-50: #ffbff5;
  --color-pink-500: #ff00d6;
  --color-pink-600: #d900b6;
  --color-pink-700: #b20096;
  --color-pink-800: #8c0076;
  --color-pink-900: #660056;
  --color-pink-950: #400036;
  --color-pink-purple-100: #dd99ff;
  --color-pink-purple-200: #d073ff;
  --color-pink-purple-300: #c34dff;
  --color-pink-purple-400: #b726ff;
  --color-pink-purple-50: #eabfff;
  --color-pink-purple-500: #aa00ff;
  --color-pink-purple-600: #9000d9;
  --color-pink-purple-700: #7700b2;
  --color-pink-purple-800: #5e008c;
  --color-pink-purple-900: #440066;
  --color-pink-purple-950: #2a0040;
  --color-purple-100: #c699ff;
  --color-purple-200: #b173ff;
  --color-purple-300: #9c4dff;
  --color-purple-400: #8626ff;
  --color-purple-50: #dbbfff;
  --color-purple-500: #7100ff;
  --color-purple-600: #6000d9;
  --color-purple-700: #4f00b3;
  --color-purple-800: #3e008c;
  --color-purple-900: #2d0066;
  --color-purple-950: #1c0040;
  --color-purple-blue-100: #c1a5fe;
  --color-purple-blue-200: #a77ffe;
  --color-purple-blue-300: #8f58fe;
  --color-purple-blue-400: #6e26fe;
  --color-purple-blue-50: #dbcbfe;
  --color-purple-blue-500: #4c00fe;
  --color-purple-blue-600: #4500d9;
  --color-purple-blue-700: #3900b2;
  --color-purple-blue-800: #2f008c;
  --color-purple-blue-900: #250066;
  --color-purple-blue-950: #1a004d;
  --color-red-100: #ff9999;
  --color-red-200: #ff7373;
  --color-red-300: #ff4d4d;
  --color-red-400: #ff2626;
  --color-red-50: #ffbfbf;
  --color-red-500: #ff0101;
  --color-red-600: #d90101;
  --color-red-700: #b30101;
  --color-red-800: #8c0101;
  --color-red-900: #660101;
  --color-red-950: #400101;
  --color-rose-100: #ff99c3;
  --color-rose-200: #ff73ad;
  --color-rose-300: #ff4d97;
  --color-rose-400: #ff2681;
  --color-rose-50: #ffbfda;
  --color-rose-500: #ff006a;
  --color-rose-600: #d9005a;
  --color-rose-700: #b2004a;
  --color-rose-800: #8c003a;
  --color-rose-900: #66002a;
  --color-rose-950: #40001b;
  --color-sunset-100: #ffa599;
  --color-sunset-200: #ff8373;
  --color-sunset-300: #ff614d;
  --color-sunset-400: #ff4026;
  --color-sunset-50: #ffc7bf;
  --color-sunset-500: #ff1f01;
  --color-sunset-600: #d91a01;
  --color-sunset-700: #b31501;
  --color-sunset-800: #8c1101;
  --color-sunset-900: #660c01;
  --color-sunset-950: #400801;
  --color-teal-100: #99f9ff;
  --color-teal-200: #73f6ff;
  --color-teal-300: #4df4ff;
  --color-teal-400: #26f1ff;
  --color-teal-50: #bffbff;
  --color-teal-500: #00efff;
  --color-teal-600: #00cbd9;
  --color-teal-700: #00a7b2;
  --color-teal-800: #00838c;
  --color-teal-900: #005f66;
  --color-teal-950: #003c40;
  --color-yellow-amber-100: #ffd599;
  --color-yellow-amber-200: #ffc573;
  --color-yellow-amber-300: #ffb54d;
  --color-yellow-amber-400: #ffa526;
  --color-yellow-amber-50: #ffe4bf;
  --color-yellow-amber-500: #ff9500;
  --color-yellow-amber-600: #d97e00;
  --color-yellow-amber-700: #b26800;
  --color-yellow-amber-800: #8c5200;
  --color-yellow-amber-900: #663b00;
  --color-yellow-amber-950: #402500;
}
